body {
  padding: 0 30px 0 30px;
}

button {
  font-size: 16px;
  padding: 8px;
}

.redButton{
  background-color: MediumVioletRed;
}
.greenButton{
  background-color: Orchid;
}
.blueButton{
  background-color: MediumSeaGreen;
}
.yellowButton{
  background-color: LightBlue;
}

table, th, td {
  border: 10px solid black;
}

table {
  margin-top: 15px;
}
